body {
    background-color: #f8f9fa;
}
.custom-border {
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
}

h1, h2, p {
    color: #343a40;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

li:hover {
    background-color: #d394de;
}
.list {
    border-radius: 5px;
    margin: 5px;
    padding-left: 4px;
}
.list-item {
    font-weight: 700;
    font-size: 17px;
    color: rgb(5, 5, 5) !important;
}